
body
 {
color: white; 
font-size: 100%; 
font-family: Century Gothic, sans-serif;
}

button{
background: transparent ;
border:none;

}

textarea { 
    resize: none; 
	overflow: hidden;
	background-color: ##FFCCCC;
	border-style:ridged;
	font-family:Century Gothic, sans-serif;
	
}


#accordion{
border: solid;
border: hidden;

  overflow : auto;
  position: relative;
  background-size:auto;
  resize: true;
  font-family: Century Gothic, sans-serif;
  font-size: 100%;
  max-width: 350px;
  resize: none;
  
  }



#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position:fixed;
  top: 0;
  left: 0;
  background: transparent
}



 
  