
body
 {
color: black; 
font-family: Century Gothic, sans-serif;
background: #D1E0FF;

}

button
{
background: transparent ;
border:none;

}
textarea { 
    resize: none; 
	background-color: ##FFCCCC;
	border-style:ridged;
	font-family:Century Gothic, sans-serif;
	overflow:hidden;
	
}
h3
{
background: transparent;

}
#accordion{

  border:hidden;
  overflow: hidden;
  resize: none;
  text-align: left;
  word-wrap: break-word;
  max-width: 400px;
  position: fixed:
  

}
table{

max-width: all elements;
border:hidden;

}






 
  